body {
    padding-top: 200px; /* Adjust this value based on the header's height */
}
  

/* Header Styling */
.header {
    height: 210px; 
    line-height: 80px;
    background-color: #ffffff; 
    color: #7f7474;
}

/* Logo */
.logo img {
    width: 250px;
    height: auto;
}

.nav-link, .action-btn {
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 13px 18px;
    margin: 0 5px;
    
}

.nav-link:hover {
    color: #782d0c !important;
}

.btn{
    background-color: #782d0c;
    border: none;
    width: 150px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.explore-work {
    border: 1px solid #782d0c;
    background-color: #ffffff;
}

.explore-work:hover {
    background-color: #782d0c;
    border: none;
    width: 150px;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-us{
    color: white;
}

.contact-us:hover{
    background-color: #782d0c;
    color: white;
}

/* General Styles */
.section-about,
.section-craftsmanship {
  text-align: center;
}
.section-about h2,
.section-craftsmanship h2 {
  margin-bottom: 1rem;
  color: #f49b39;
}


  /* Responsive Header */
  .header .container {
    flex-wrap: nowrap;
  }
  @media (max-width: 768px) {
    .header .container {
      flex-wrap: wrap;
    }
    .nav {
      margin-top: 1rem;
    }
    .btn {
      margin-top: 1rem;
    }
  }
  
  
  
  /* Footer */
  .footer {
    background-color: #5491b4;
  }
  .footer a {
    color: white;
    transition: color 0.3s ease;
  }
  .footer a:hover {
    color: #ddd;
  }
  